<div class="column left ">
    <img src="assets/nube.png" >
</div>


<div class="column middle">

<div class="mat-elevation-z8">  
    <div class="title" ui-view="title">
        <h1>Estacións Meteorolóxicas</h1>
    </div>
<div class="filtro">
    <mat-form-field class="filtertable" appearance="fill">
        <input matInput (keyup)="applyFilter($event)" placeholder= "" #input>
        <img class='lupa'src='assets/lupa.png' >
    </mat-form-field>
</div>
    <table class="tablaentera" mat-table [dataSource]="dataSource" matSort>

     
      <ng-container matColumnDef="provincia">
        <th class="header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Provincia </th>
        <td mat-cell *matCellDef="let row"> {{row.provincia}} </td>
      </ng-container>  

     
      <ng-container matColumnDef="estacion">
         <th class="header-cell" mat-header-cell *matHeaderCellDef mat-sort-header>  Nome da Estación </th>
        <td mat-cell *matCellDef="let row" (click)="redirectToEstacion(row.idEstacion)">{{row.estacion}}</td>
      </ng-container>
    
     
      <ng-container matColumnDef="concello">
        <th class="header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Concello </th>
        <td mat-cell *matCellDef="let row"> {{row.concello}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="altitude">
        <th class="header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Altitude </th>
        <td mat-cell *matCellDef="let row"> {{row.altitude}} </td>
      </ng-container>

      <ng-container matColumnDef="lat">
        <th class="header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Latitude </th>
        <td mat-cell *matCellDef="let row"> {{row.lat}} </td>
      </ng-container>

      <ng-container matColumnDef="lon">
        <th class="header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> Lonxitude </th>
        <td mat-cell *matCellDef="let row"> {{row.lon}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos que correspondan con el filtro "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[8]" aria-label=""  hidePageSize="true">
        
    </mat-paginator>
  </div>

  </div>

  <div class="column right">
    <img src="assets/sol.png" >
</div>
<router-outlet></router-outlet>