.tabladatosestacion{
    margin-left: 480px;
    padding-bottom: 100px;
}

.tituloestacion{
    color: blue;
}


.tituloestacion2{
    color: blue;
    padding-left: 40px;
}

.estacion2{
    padding-left: 40px;
}

